data/db
data/log
data/mongo-setup-and-commands.txt.local

Demonstrator/.vs
Demonstrator/*/obj
Demonstrator/*/bin
Demonstrator/Demonstrator.WebApp/appsettings.json
Demonstrator/Demonstrator.WebApp/Shared/*
!*.gitkeep

/**/node_modules
/**/wwwroot/*
/**/test/coverage
/**/*.log
/**/*.pubxml
/**/*.user