data/db
data/log
data/mongo-setup-and-commands.txt.local

Demonstrator/Demonstrator.DataAccessLayer
Demonstrator/Demonstrator.DataMigrator

Demonstrator/.vs
Demonstrator/*/obj
Demonstrator/*/bin
Demonstrator/Demonstrator.WebApp/appsettings.json


/**/node_modules
/**/wwwroot/*
/**/test/coverage
/**/*.log
/**/*.pubxml