data/db
data/log
data/mongo-setup-and-commands.txt.local

/**/.vs
/**/*/obj
/**/*/bin
Demonstrator/Demonstrator.WebApp/appsettings.json
Demonstrator/Demonstrator.WebApp/Shared/*
Demonstrator/Demonstrator.WebApp/wwwroot/*
!*.gitkeep

/**/node_modules
/**/test/coverage
/**/*.log
/**/*.pubxml
/**/*.user