version: '2'
services:
  nrlsdemoapp:
    container_name: nrlsdemoapp
    image: "${REGISTRY_PREFIX}nrlsdemo${IMAGE_TAG}"
    ports:
      - "8130:5000"
    networks:
      - nrlsdemo-network

  nrlsapiapp:
    container_name: nrlsapiapp
    image: "${REGISTRY_PREFIX}nrlsapi${IMAGE_TAG}"
    ports:
      - "8101:5001"
    networks:
      - nrlsdemo-network

  nrlsmongodb:
    container_name: nrlsmongodb
    image: "${REGISTRY_PREFIX}nrlsmongodb${IMAGE_TAG}"
    networks:
      - nrlsdemo-network

networks:
  nrlsdemo-network:
    driver: bridge
