<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <script>
        var demonstratorConfig = {
            updatedAt: '<%- htmlWebpackPlugin.options.updatedAt %>',
            appVersion: '<%- htmlWebpackPlugin.options.appVersion %>',
            baseUrl: '<%- htmlWebpackPlugin.options.metadata.baseUrl %>'
        };

        var pageInit = Date.now();
        var pageStartTime = undefined;
        var pageEndTime = undefined;
    </script>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="30398f35-a144-4edd-a779-05481f9da7b3" type="text/javascript" async></script>
    <!-- imported CSS are concatenated and added automatically -->
</head>
<body aurelia-app="main" class="nrls-demonstrator text-center">
    <div class="center-block" style="margin-top:50px;">
        <p><%- htmlWebpackPlugin.options.metadata.title %> Loading...</p>
        <p><i class="fa fa-circle-o-notch fa-pulse fa-3x"></i></p>
    </div>

    <script type="text/plain" data-cookieconsent="statistics">
        var gaLoaderScript = document.createElement('script');
        gaLoaderScript.src = '//www.google-analytics.com/ga.js';
        document.getElementsByTagName('head')[0].appendChild(gaLoaderScript);
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '<%- htmlWebpackPlugin.options.gaTrackId %>', 'auto');
    </script>
</body>
</html>
