.generic-system-wrapper {
    display: block;
    width: 100%;
    height: auto;
    min-height: 500px;
    border: 1px solid #768692;
    background-color: $white;
    padding: 0;
    margin: $spacing-normal 0;
    position: relative;
    top: 0;
    left: 0;

    .gs-header {
        display: block;
        width: 100%;
        height: 60px;
        background-color: $white;
        border-bottom: 1px solid $nhsMidGrey;
        padding: 0 $spacing-normal;

        .gs-top-menu {
            display: inline-block;
            width: 60%;
            height: 60px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            vertical-align: top;

            li {
                display: inline-block;
                margin: 0 $spacing-small;
                padding: 0;
                color: $nhsMidGrey;
                height: 60px;
                line-height: 60px;

                a {
                    color: $nhsMidGrey;
                    text-decoration: none;
                }
            }
        }

        .gs-title {
            display: inline-block;
            width: 39%;
            height: 60px;
            line-height: 60px;
            text-align: right;
            color: $nhsMidGrey;
            font-size: 1.2em;
            margin: 0;
        }
    }

    .gs-patient-banner {
        display: block;
        width: 100%;
        height: 60px;
        background-color: $nhsMidGrey;
        color: $white;
        line-height: 60px;
        padding: 0 $spacing-large;
        font-size: 0.8em;

        span {
            display: inline-block;
            margin-right: $spacing-large;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .gs-sub-header {
        display: block;
        width: 100%;
        height: 60px;
        background-color: $nhsPaleGrey;
        line-height: 60px;
        padding: 0 $spacing-large;
        font-size: 0.8em;

        .gs-records-menu {
            display: inline-block;
            width: 100%;
            height: 60px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            vertical-align: top;

            li {
                display: inline-block;
                margin: 20px $spacing-small 0 0;
                padding: 0;
                color: $nhsDarkGrey;
                height: 40px;
                line-height: 40px;

                a {
                    color: $nhsMidGrey;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 25px;
                    padding: $spacing-small 20px;
                }

                &.active,
                &:hover {
                    background-color: $white;

                    a {
                        color: $nhsDarkGrey;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .gs-content {
        background-color: $white;
        padding: $spacing-xlarge;
    }

    .gs-result-not-shown-banner {
        background-color: $nhsPaleGrey;
        border: 2px solid #ddd;
        color: $black;
        font-weight: bold;
        padding: $spacing-normal;

        .icon {
            vertical-align: sub;
        }
    }

    .table {
        &.nrls-pointer-results {
            font-size: 0.9em;
            border-color: $nhsMidGrey !important;

            caption {
                background-color: $nhsPaleGrey;
                border: 1px solid #ddd;
                color: $black;
                font-weight: bold;
                padding: $spacing-normal $spacing-small;
                border-bottom: none;

                .icon {
                    vertical-align: sub;
                }
            }

            th {
                color: $black;
            }

            td {
                vertical-align: middle;
                font-size: 0.9em;

                &.action {
                    text-align: center;
                }
            }

            .fc-readonly {
                background-color: transparent;
                width: 49%;
                display: inline-block;
            }
        }
    }

    .system-close {
        color: $red;

        .fa {
            font-size: 1.3em;
            vertical-align: text-bottom;
            margin-left: $spacing-small;
        }
    }

    .gs-instructions {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .gs-instruction-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            z-index: 1;
        }

        .gs-instruction-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            background-color: $white;
            width: 75%;
            height: 80%;
            padding: $spacing-large;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            border: 2px solid $nhsDarkGrey;
            overflow: hidden;
            font-weight: normal;

            .gs-icontent-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70px;
                overflow: hidden;
                margin: 0;
                padding: 20px;
            }

            .gs-icontent-inner {
                position: absolute;
                top: 70px;
                left: 0;
                width: 100%;
                height: calc(100% - 160px);
                padding: 20px;
                overflow: auto;
                padding: 0 20px;
            }

            .gs-icontent-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 90px;
                overflow: hidden;
                padding: 20px;

                .alert-panel {
                    font-size: 0.7em;
                }
            }
        }
    }

    .gs-system-notice {
        display: block;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: auto;
        background-color: $white;
        box-shadow: 0 0 7px rgba(0,0,0,0.5);
        border: 3px solid $nhsBlue;
        padding: $spacing-normal;
        font-size: 0.9em;
        border-top-width: 25px;

        .system-notice-close {
            display: block;
            position: absolute;
            top: -22px;
            right: 5px;
            color: $red;
        }
    }
}


p.gs-instructions {
    padding-bottom: 35px;

    button {
        position: relative;
        top: 25px;
        left: 0;
    }
}
