<style type="text/css">
.row-splitter {border-bottom: 2px solid #555555;padding-top: 20px;padding-bottom:20px;}
.big-bold {font-weight:bold;font-size:14pt;padding:8px;background-color:#eaeaea;}
.highlight {padding: 12px;background-color:yellow;}
.wide {width:100%;}
.half {width:50%;}
</style>
<div style="font-family: arial;font-size: 1.2em;">
	<h1>Cancer Care Plan</h1>
	<p class="highlight">Auto generated ficticious medical file for testing purposes. <br /><b>Id: {{:documentId}}</b></p>

	<div style="font-size:14pt;">
		<p>Add cancer care plan details here...</p>
	</div>
</div>