<style type="text/css">
.row-splitter {border-bottom: 2px solid #555555;padding-top: 20px;padding-bottom:20px;}
.big-bold {font-weight:bold;font-size:14pt;padding:8px;background-color:#eaeaea;}
.highlight {padding: 12px;background-color:yellow;}
.wide {width:100%;}
.half {width:50%;}
</style>
<div style="font-family: arial;font-size: 1.2em;">
	<h1>Mental Health Crisis Plan</h1>
	<h4>To be developed jointly by worker, service user and where appropriate, carer.</h4>

	<p class="highlight">Auto generated ficticious medical file for testing purposes. <br /><b>Id: {{:documentId}}</b></p>

	<div style="font-size:14pt;">
		<table style="width:100%;border:none;">

			<!-- row -->
			<tr>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold">My EARLY warning signs of crisis / relapse are:</td>
						</tr>
						<tr>
							<td>EARLY warning signs etc...</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter" colspan="2">
					<table>
						<tr>
							<td class="big-bold">Whenever I have these it's helpful to respond by:</td>
						</tr>
						<tr>
							<td>Helpful EARLY warning responses etc...</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold">My MID warning signs of crisis / replase are:</td>
						</tr>
						<tr>
							<td>MID warning signs etc...</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter" colspan="2">
					<table>
						<tr>
							<td class="big-bold">Whenever I have these it's helpful to respond by:</td>
						</tr>
						<tr>
							<td>Helpful MID warning responses etc...</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold">My LATE warning signs of crisis / replase are:</td>
						</tr>
						<tr>
							<td>LATE warning signs etc...</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter" colspan="2">
					<table>
						<tr>
							<td class="big-bold">Whenever I have these it's helpful to respond by:</td>
						</tr>
						<tr>
							<td>Helpful LATE warning responses etc...</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter wide" colspan="3">
					<table class="wide">
						<tr>
							<td class="big-bold wide">Factors (triggers) which increase the risk of relapse are:</td>
						</tr>
						<tr>
							<td>Relapse triggers...</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter wide" colspan="3">
					<table class="wide">
						<tr>
							<td class="big-bold wide">Things to attend to if I am admitted to hopital: (Dependants, keys, pets, etc)</td>
						</tr>
						<tr>
							<td>Things to attend to...</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter wide" colspan="3">
					<table class="wide">
						<tr>
							<td class="big-bold wide">The phone numbers of services that I may find useful are:</td>
						</tr>
						<tr>
							<td>Useful phone numbers...</td>
						</tr>
						<tr>
							<td>If I have any conerns I will contact:</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter half">
					<table>
						<tr>
							<td class="big-bold">My Care Coordinator who is:</td>
						</tr>
						<tr>
							<td>Care Coordinator name</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold">Hours of contact</td>
						</tr>
						<tr>
							<td>8am - 8pm</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold">On phone number:</td>
						</tr>
						<tr>
							<td>01234567890</td>
						</tr>
					</table>
				</td>
			</tr>

			<!-- row -->
			<tr>
				<td class="row-splitter half">
					<table>
						<tr>
							<td class="big-bold">In the absence of my Care Coordinator, during working hours, I will contact:</td>
						</tr>
						<tr>
							<td>Care Coordinator name</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold"><br />Hours of contact</td>
						</tr>
						<tr>
							<td>9am - 6pm</td>
						</tr>
					</table>
				</td>
				<td class="row-splitter">
					<table>
						<tr>
							<td class="big-bold"><br />On phone number:</td>
						</tr>
						<tr>
							<td>12345678900</td>
						</tr>
					</table>
				</td>
			</tr>

		</table>
	</div>
</div>