$benefits-container-width: 700px;
$benefits-container-height: 550px;
$benefits-slide-height: 340px;
$benefits-menu-width: 250px;
$benefits-footer-height: 60px;

.benefits-app-wrapper {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: $benefits-container-width + 4;
    height: $benefits-container-height + 4;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    border: 2px solid $nhsPaleGrey;

    &.benefits-app-wrapper-with-menu {
        width: $benefits-container-width + 4 + $benefits-menu-width + 2;

        .benefit-loader-container,
        .benefits-container {
            border-left: 2px solid $nhsPaleGrey;
        }
    }

    &.benefits-app-wrapper-inline {
        height: ($benefits-container-height + 4) - $benefits-footer-height;
        border-bottom: 5px solid $nhsPaleGrey;

        .benefits-menu {
            height: ($benefits-container-height + 4) - $benefits-footer-height;
        }

        .benefit-loader-container,
        .benefits-container,
        .benefits-menu {
            height: ($benefits-container-height + 4) - $benefits-footer-height - 2;
        }
    }

    &.benefits-app-wrapper-popup {
        box-shadow: none;
    }
}

.benefits-menu {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: $benefits-menu-width + 2;
    height: $benefits-container-height + 4;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-right: none;
    float: left;

    .b-menu-instructions {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        overflow: hidden;
        padding: 0;
        background-color: $nhsLightBlue80;
        color: $nhsLightBlue120;
        text-align: center;

        p {
            position: absolute;
            top: 50%;
            left: 0;
            padding: $spacing-smaller $spacing-large;
            margin: 0;
            font-size: 0.8em;
            transform: translateY(-50%);
            font-weight: bold;
        }
    }

    .b-menu-notification {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: $nhsPaleGrey;
        color: $nhsMidGrey;
        text-align: center;
        font-size: 0.8em;

        .b-menu-noti-content {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: auto;
            transform:translateY(-50%);
        }
    }

    .panel, .panel-heading {
        box-shadow: none;
        border-radius: 0;
        border: none;
    }

    .panel {
        border-bottom: 2px solid $nhsPaleGrey;

        > .panel-heading {
            background-color: $nhsPaleGrey90;
        }

        &.nrls-panel-active {
            > .panel-heading {
                background-color: $nhsPaleGrey;

                a.grey-link {
                    color: $nhsBlack;
                }
            }
        }

        + .panel {
            margin-top: 0;
        }
    }

    .list-group {
        .list-group-item {
            border-bottom: 1px solid $nhsPaleGrey;
            padding-left: $spacing-large;

            &.b-menu-child-active {
                background-color: $nhsPaleGrey;

                a.grey-link {
                    color: $nhsBlack;
                }
            }

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    .benefits-menu-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-bottom: 120px;

        .b-menu-parent {
            .b-menu-parent-btn {
                padding: 0 6px;
            }

            .b-menu-parent-icon-up {
                display: none;
            }

            a.collapsed {
                .b-menu-parent-icon-up {
                    display: inline;
                }

                .b-menu-parent-icon-down {
                    display: none;
                }
            }
        }
    }
}

.benefit-loader-container {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: $benefits-container-width;
    height: $benefits-container-height;
    overflow: hidden;
    margin: 0;
    padding: $spacing-large;
}

.benefits-container {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: $benefits-container-width;
    height: $benefits-container-height;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .benefit-title {
        position: absolute;
        top: 0;
        left: 0;
        width: $benefits-container-width;
        height: 60px;
        border-bottom: 2px solid $nhsPaleGrey;
        text-align: center;

        h4 {
            font-size: 1.2em;
            padding: 0 $spacing-normal;
            line-height: 40px;
        }

        .b-title-icon {
            color: $nhsGreen;
            font-size: 1.4em;
            vertical-align: middle;
        }

        .b-close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $nhsDarkGrey;
            padding: 1px 5px 3px 5px;
            border-radius: 3px;
            color: $white;
            opacity: 1;

            &:hover {
                background-color: $white;
                color: $nhsDarkGrey;
            }
        }

        .b-close-icon {
        }
    }

    .benefit-types {
        position: absolute;
        top: 60px;
        left: 0;
        width: $benefits-container-width;
        height: 90px;
        background-color: $nhsGreen;

        .b-type-link {
            display: inline;
            float: left;
            width: 33.33333333333333%;
            height: 90px;
            text-align: center;
            color: $white;
            text-decoration: none;
            border-right: 2px solid $nhsDarkGreen;
            border-bottom: 2px solid $nhsDarkGreen;

            &.b-type-link-2 {
                width: 50%;
            }

            &.b-type-link-3 {
                width: 33.33333333333333%;
            }

            &.b-type-link-4 {
                width: 25%;
            }

            &.b-type-link-5 {
                width: 20%;
            }

            &.b-type-link-6 {
                width: 16.66666666666667%;
            }

            &:hover {
                background-color: $nhsGreen105;
            }

            &:last-of-type {
                border-right: none;
            }

            .b-type-title {
                font-size: 1.2em;
                line-height: 2em;
                font-weight: bold;
                width: 100%;
                display: block;
                margin-bottom: 5px;
            }

            .b-type-icon {
                font-size: 2.3em;
            }

            &.b-type-link-active {
                background-color: $white;
                color: $nhsGreen;
                border-bottom: none;

                &:hover {
                    background-color: $white;
                }

                &.b-gold-link {
                    color: $nhsOrange;
                }

                &.b-red-link {
                    color: $nhsEmergencyRed;
                }

                &.b-pink-link {
                    color: $nhsPink;
                }

                &.b-yellow-link {
                    color: $nhsYellow;
                }
            }
        }
    }

    .benefit-slide-container {
        position: absolute;
        top: 150px;
        left: 0;
        width: $benefits-container-width;
        height: $benefits-slide-height;

        .b-nav-link {
            position: absolute;
            top: ($benefits-slide-height - 80px) / 2;
            left: 10px;
            width: 30px;
            height: auto;
            margin: 0;
            font-size: 3em;
            color: $nhsMidGrey;
            line-height: 1em;
            text-align: center;

            .b-nav-icon {
            }

            &.b-nav-link-right {
                left: auto;
                right: 10px;
            }

            &:hover {
                background-color: $nhsMidGrey;
                color: $white;
            }
        }

        .b-text-icon {
            position: absolute;
            top: 40px;
            left: 60px;
            font-size: 2em;
            color: $nhsPaleGrey;
            z-index: 2;

            &.b-text-icon-right {
                top: auto;
                left: auto;
                bottom: 80px;
                right: 70px;
            }
        }

        .benefit-pin-wrapper {
            position: absolute;
            bottom: 20px;
            left: 30px;
            width: calc(#{$benefits-container-width} - 60px);
            height: 20px;
            text-align: center;

            .b-pin-link {
                display: inline-block;
                width: 17px;
                height: 17px;
                border: 3px solid $nhsMidGrey;
                border-radius: 15px;
                text-decoration: none;
                background-color: $white;
                margin: 0 $spacing-smaller;

                &:hover {
                    background-color: $nhsMidGrey;
                }

                &.b-pin-link-active {
                    background-color: $nhsMidGrey;
                }
            }

            .b-pin-icon {
            }
        }

        .benefit-slide-wrapper {
            position: absolute;
            top: 20px;
            left: 40px;
            width: calc(#{$benefits-container-width} - 80px);
            height: calc(#{$benefits-slide-height} - 80px);
            overflow: hidden;
            background-color: $nhsPaleGrey95;

            .benefit-slide {
                position: absolute;
                top: 0;
                left: -$benefits-container-width;
                width: calc(#{$benefits-container-width} - 80px);
                height: calc(#{$benefits-slide-height} - 80px);
                opacity: 0;
                transition-property: opacity, left;
                transition-duration: 0.35s;
                transition-timing-function: linear;
                transition-delay: 0;

                .benefit-text {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    height: auto;
                    transform: translateY(-50%);
                    font-weight: bold;
                    font-size: 1.1em;
                    line-height: 1.8em;
                    padding: $spacing-xlarge;
                }

                &.benefit-slide-active {
                    left: 0;
                    opacity: 1;
                }

                &.benefit-slide-hide {
                    left: $benefits-container-width;
                    opacity: 0;
                }
            }
        }
    }

    .benefit-footer {
        position: absolute;
        top: 490px;
        left: 0;
        width: $benefits-container-width;
        height: $benefits-footer-height;
        background-color: $nhsPaleGrey;
        padding: 15px 20px;

        .b-more-btn {
            border: 2px solid $nhsDarkGrey;
            text-decoration: none;

            &:hover {
                border-color: $nhsDarkGrey;
                color: $nhsDarkGrey;
            }

            &.b-more-btn-right {
                float: right;
            }
        }
    }
}
