.nrls-border-img {
    background-color: $nhsPaleGrey;
    padding: $spacing-normal;
    border-radius: 14px;
    max-width: 350px;
}

.nrls-benefits-list {
    list-style-position: inside;
    margin-left: $spacing-small;

    li {
        position: relative;
        top: 0;
        left: 0;
        padding-left: $spacing-xlarge;
        line-height: 1.4em;
        margin-bottom: 20px;

        i {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.7em;
        }
    }
}

.nrls-modal {
    .modal-header {
        border-bottom: none;

        button {
            &.close {
                background-color: $black;
                color: $white;
                border-radius: 13px;
                opacity: 1;
                padding: 4px 7px;
                font-size: 1em;
                line-height: 1.1em;
                float: left;
            }
        }
    }

    .modal-content {
        border: 5px solid $nhsBlue;
    }

    .modal-body {
        word-wrap: break-word;
        max-height: calc(100vh - 250px);
        overflow-y: auto;
    }

    .modal-footer {
        border-top: none;
    }
}
