.h1 {
    font-weight: bold;
    color: $blue;
    font-size: 2.1em;

    span {
        color: $nhsDarkGrey;
        font-size: 0.8em;

        &.heading-type {
            color: $blue;
        }
    }
}

h4 {
    color: $nhsDarkGrey;
    font-weight: bold;
}

h7 {
    color: $nhsBrightBlue;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: -10px;
    left: 20px;
}

.nrls-generated-content {

    h4 {
        margin-top: $spacing-large;

        &:first-of-type {
            margin-top: 0
        }
    }
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
    margin: 0 0 $spacing-normal 0;
}

.n-text-small {
    font-size:0.8em;
}

.n-text-muted {
    color: $nhsMidGey;
}

.n-text-green {
    color: $green;
}