.pdf-viewer-container {
    .pdf-container {
        overflow: auto;
        text-align: center;

        .spinner-wrapper {
            margin-top: $spacing-large;
        }

        &.gs-instruction-content {
            width: 50%;
            padding: 0;
        }
    }
}

#pdfCanvas {
    box-shadow: 0 0 13px rgba(0,0,0,0.2);
}
