$spacing-smaller: 5px;
$spacing-small: 10px;
$spacing-normal: 15px;
$spacing-large: 30px;
$spacing-xlarge: 45px;
$spacing-xxlarge: 60px;

.no-margin {
        margin:0;
}
.margin-top-lrg {
    margin-top: $spacing-xlarge;
}

.margin-top-nml {
    margin-top: $spacing-normal;
}

.margin-bottom-xlrg {
    margin-bottom: $spacing-xlarge;
}

.margin-bottom-lrg {
    margin-bottom: $spacing-large;
}

.margin-bottom-nml {
    margin-bottom: $spacing-normal;
}

.margin-bottom-sml {
    margin-bottom: $spacing-small;
}

.margin-hz {
    margin: 0 $spacing-large;
}

.padding-right-lrg {
    padding-right: $spacing-large;
}