
.grid-tabs-row {
    width: calc(100% + #{$spacing-large});
    display: block;
    margin: 0 0 0 -#{$spacing-large};
    padding: 0;
}

.nrls-gridtab {
    width: 255px;
    height: 240px;
    overflow: hidden;
    background-color: $nhsPaleGrey;
    border: 2px solid $nhsMidGrey65;
    display: inline-table;
    border-radius: 14px;
    margin: 0 0 $spacing-large $spacing-large;
    padding: 0;

    a {
        &.gridtab-link {
            display: block;
            margin: 0;
            padding: $spacing-normal;
            width: 100%;
            height: 100%;
            text-align: center;

            .gridtab-heading {
                display: block;
                width: 100%;
                height: 45px;
                font-size: 1.2em;
                font-weight: bold;
                line-height: 1.2em;
                margin-bottom: $spacing-normal;
            }

            .gridtab-img {
                display: block;
                width: 100%;
                height: 145px;
            }

            .gridtab-icon {
                color: $black;
                font-size: 8em;
            }

            &:link, &:visited, &:active {
                color: $nhsDarkGrey;
                text-decoration: none;
                outline: none;
            }

            &:hover {
                background-color: $nhsPaleGrey95;
                color: $nhsDarkGrey80;
                text-decoration: none;
                outline: none;

                img {
                    opacity: 0.6;
                }
            }
        }
    }

    &.nrls-gridtab-faded {
        border: 2px dashed $nhsMidGrey65;

        a {
            &.gridtab-link {
                .gridtab-icon {
                    color: $nhsDarkGrey80;
                }

                &:link, &:visited, &:hover, &:active {
                    background-color: $nhsPaleGrey95;
                    color: $nhsDarkGrey80;
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }
}
